[user]
	email = mjshin@bearrobotics.ai
	name = MJ Shin
[core]
	editor = vi
[credential]
	helper = "!f() { /home/mj/.vscode-server/bin/2b9aebd5354a3629c3aba0a5f5df49f43d6689f8/node /tmp/vscode-remote-containers-f134fd18a2369705e38ce82af476a2a39029f84c.js $*; }; f"
