[user]
	name = MJ Shin
    email = ohgree@u.sogang.ac.kr
[color]
    ui = auto
[merge]
    tool = vimdiff
[core]
    excludesfile = /Users/ohgree/.gitignore
    editor = vim
[alias]
    cm = checkout master
    ls = log --decorate --format=format:'%C(bold blue)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white) [%an%C(reset)]%C(auto)%d%C(reset)'

    lg = !"git lg1"
    lg1 = !"git lg1-specific --all"
    lg2 = !"git lg2-specific --all"
    lg3 = !"git lg3-specific --all"

    lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'

    toplevel = rev-parse --show-toplevel
[credential]
	helper = "!f() { /home/mjshin/.vscode-server/bin/fd6f3bce6709b121a895d042d343d71f317d74e7/node /tmp/vscode-remote-containers-347563eee42e3a36261c6137645748d7eaa2bc1f.js $*; }; f"
